<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NeptunMini</title>
</head>
<body>
    <h3>Students:</h3>
        <div    th:each="student : ${studentList}">
        <div    th:text="${student.studentId}">studentId</div>
        <div    th:text="${student.studentName}">studentName</div>
            Registered subjects:
            <div    th:each="subject : ${student.subjects}">
                <div    th:text="${subject.subjectId}">subjectId</div>
                <div    th:text="${subject.subjectName}">subjectName</div>
                Credit:
                <div    th:text="${subject.credit}">credit</div>
                Mark:
                <div    th:text="${subject.mark}">mark</div>
            </div>
        </div>
    <form action="http://localhost:8080">
        <input type="submit" value="home" />
    </form>
</body>
</html>