<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <title>NeptunMini</title>
    <meta charset="iso-8859-1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <!--[if lt IE 9]><script src="/scripts/html5shiv.js/"></script><![endif]-->
</head>
<body>
<div class="wrapper row1">
    <header id="header" class="clear">
        <div id="hgroup">
            <h1><a href="http://localhost:8080">NeptunMini</a></h1>
            <h2>Way better. Way easier.</h2>
        </div>
        <nav>
            <ul>
                <li><a href="http://localhost:8080/student/">Add student</a></li>
                <li><a href="http://localhost:8080/student/list">List students</a></li>
                <li><a href="http://localhost:8080/student/registerSubject">Manage subjects</a></li>
                <li><a href="http://localhost:8080/student/addMark">Add Mark</a></li>
                <li><a href="http://localhost:8080/subject">Add subject</a></li>
                <li class="last"><a href="http://localhost:8080/subject/list">List subjects</a></li>
            </ul>
        </nav>
    </header>
</div>

<!-- content -->
<div class="wrapper row2">

    <div id="container" style="text-align: center" >
        <div style="display: inline-block">
            <form action="#" th:action="@{/student}" th:object="${studentModel}" method="post">
                <table>
                    <h2>Add student</h2>
                    <tr>
                        <td>Student Id:</td>
                        <td><input type="text" th:field="*{studentId}"></td>
                        <td th:if="${#fields.hasErrors('studentId')}" th:errors="*{studentId}">Student Id error</td>
                    </tr>
                    <tr>
                        <td>Name:</td>
                        <td><input type="text" th:field="*{studentName}"></td>
                        <td th:if="${#fields.hasErrors('studentName')}" th:errors="*{studentName}">Name error</td>
                    </tr>
                </table>
                <button type="submit">Add student</button>
            </form>
        </div>
    </div>
</div>
<!-- Footer -->
<div class="wrapper row3">
    <footer id="footer" class="clear">
        <p class="fl_left">NeptunMini Copyright &copy; 2018 - All Rights Reserved</p>
        <p class="fl_right">Tassi Dominik - QLNW5K</p>
    </footer>
</div>
</body>
</html>
