<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Subjects:</h3>

    <div    th:each="subject : ${subjectList}">
        <h3>
            <div    th:text="${subject.subjectId}">subjectId</div>
            <div    th:text="${subject.subjectName}">subjectName</div></h3>
    Credit:
    <div    th:text="${subject.credit}">credit</div>
        <hr>
</div>

<form action="http://localhost:8080">
    <input type="submit" value="home" />
</form>
</body>
</html>